body>nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}

main * {
  box-sizing: border-box;
}

main {
  display: block;
  margin-top: 40px;
}

#messages {
  z-index: 0;
  padding: 74px 20px 20px 20px;
}

#messages section {
  display: grid;
  background: #f3f1f1;
  grid-template: "img h2" "img p";
  align-items: center;
  padding: 10px 20px 10px 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  cursor: pointer;
}

#messages section img {
  grid-area: img;
  margin-right: 16px;
}

#messages section h2 {
  grid-area: h2;
  margin: 0;
}

#messages section p {
  grid-area: p;
  margin: 0;
  max-height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25em;
}

img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

#chat-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100lvh;
  background: white;
  padding: 74px 0 0;
}

#chat-container header {
  display: grid;
  gap: 10px 0;
  grid-template-rows: auto auto auto;
  padding: 20px 10px;
  background: #eee9e9;
}

#chat-container header img {
  grid-row: 1/3;
  grid-column: 1/2;
  place-self: flex-end;
  align-self: flex-start;
  margin: 0 10px 0 0;
}

#chat-container header h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
}

#chat-container header p {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0;
}

#chat-container header .buttons {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 40px;
}

#chat-container header .buttons .fa-solid {
  font-size: 30px;
  color: #393737;
  cursor: pointer;
}

#chat-container form {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f3f1f1;
  padding: 24px 30px;
  display: flex;
  justify-content: flex-start;
}

#chat-container form label {
  display: flex;
  width: 100%;
  margin: 0 10px 0 10px;
}

#chat-container form label input {
  width: 100%;
}

#chat-container form button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

#chat-container form button span {
  color: #625f5f;
}

#chat-container form button[type="submit"] {
  font-size: 36px;
  margin-right: 10px;
}

#chat-container form input {
  line-height: 30px;
  background: transparent;
  border: none;
}

@media screen and (min-width: 450px) {
  #chat-container header {
    grid-template-columns: 95px auto auto;
    grid-template-rows: auto auto;
    gap: 0;
  }

  #chat-container header .buttons {
    grid-column: 3/4;
    grid-row: 1/3;
    align-items: center;
  }

  #chat-container header .buttons .fa-solid {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 600px) {
  #chat-container header .buttons {
    flex-direction: row;
    justify-self: end;
  }

  #chat-container header .buttons .fa-solid {
    margin-right: 25px;
  }
}

@media screen and (min-width: 800px) {
  main {
    max-width: inherit;
    padding: 0;
  }

  #messages {
    max-width: 45%;
    padding: 74px 20px 20px 20px;
    background: #d9d2cc;
  }

  #chat-container {
    left: 45%;
    max-width: 55%;
  }

  #backButton {
    display: none;
  }
}

#messages-container {
  width: 100%;
  height: calc(100% - 218px);
  overflow-x: hidden;
}
