.no-button {
  font-size: 20px;
  font-weight: bolder;
  padding: 25px 25px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background-color: #d18585;
  color: white;
  margin-right: 30px;
}

.yes-button {
  font-size: 20px;
  font-weight: bolder;
  padding: 25px 27px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background-color: #a3c3aa;
  color: white;
  margin-left: 30px;
}

#animal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#animal-photo {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

#animal-info {
  width: 100%;
  margin: 0 auto;
  background-color: #f3f1f1;
  border-radius: 10px;
  text-align: left;
}

#animal-info .petLocation {
  margin-top: 0;
}

#animal-info h2,
#animal-info p {
  padding: 0 20px;
}

#no-more-pets-message {
  width: 90%;
  padding: 250px 30px;
  margin: 20px;
  background-color: #f3f1f1;
  border-radius: 10px;
  text-align: center;
  display: none;
}