@import url("https://fonts.googleapis.com/css2?family=Wendy+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f3f1f1;
  color: #393737;
  font-family: "Wendy One";
  font-size: xx-large;
}

.hamburger-menu {
  order: -1;
  font-size: 40px;
  cursor: pointer;
  border: none;
  background-color: none;
}

h1 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

h2 {
  color: #393737;
  padding: 0;
  margin-bottom: 0;
}

p {
  color: #625f5f;
}

main {
  max-width: 110ch;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Inika";
}
