#profile-container {
  display: flex;
  flex-direction: column;
}

#profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 48px;
  background-color: #f3f1f1;
  color: #393737;
  font-family: "Wendy One";
  font-size: xx-large;
}

#profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

#profile-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #f3f1f1;
  color: #393737;
  font-family: "Wendy One";
  font-size: xx-large;
}

#edit-profile,
#logout {
  font-size: 20px;
  font-weight: bolder;
  padding: 25px 25px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background-color: #d18585;
  color: white;
}
