* {
  box-sizing: border-box;
  min-height: 0;
}

main {
  display: block;
}

#profile-container {
  display: flex;
  flex-direction: column;
}

#profile-info h2 {
  margin: 0;
}

#profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #393737;
  font-family: "Wendy One";
  font-size: xx-large;
  margin: 25px 0;
}

#profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 20px 20px;
}

#profile-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: #393737;
  font-family: "Wendy One";
  font-size: xx-large;
}

#preferences,
#logout {
  font-size: 16px;
  font-weight: bolder;
  padding: 18px 18px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background-color: #d18585;
  color: white;
}

#submit {
  grid-column: 1/3;
  grid-row: 3/4;
  font-size: 16px;
  font-weight: bolder;
  padding: 18px 18px;
  margin-top: 18px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background-color: #a3c3aa;
  color: white;
}

#change-photo {
  margin-top: 65px !important;
}

#submit:hover,
#change-photo:hover {
  background-color: #b4c2b7;
}

#preferences:hover,
#logout:hover {
  background-color: #d29d9d;
}

.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px;
  background-color: #f3f1f1;
  color: #393737;
  font-family: "Wendy One";
  border-radius: 0px 0px 24px 24px;
}

.setting {
  width: 100%;
  padding: 48px;
  color: #393737;
  font-family: "Wendy One";
}

.setting:last-of-type {
  grid-column: 1/3;
}

.settings-title {
  font-size: 20px;
  font-weight: bolder;
  padding: 25px 25px;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 24px 24px 0px 0px;
  background-color: #e3e3e3;
  color: white;
}

.settings-container>form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form>div>h3 {
  font-size: 24px;
}

form>div>input {
  border-radius: 12px;
  height: 36px;
  width: 100%;
}

#photo-container {
  display: flex;
  flex-direction: column;
  place-self: flex-start;
}

#photo-container>button {
  font-size: 16px;
  font-weight: bolder;
  padding: 18px 18px;
  margin-top: 18px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background-color: #a3c3aa;
  color: white;
}
